@page "/minter"
@using Nethereum.Web3;
@using Newtonsoft.Json.Linq;
@using Microsoft.JSInterop;

@inject HttpClient Http;
@inject Web3Service Web3s;
@inject IJSRuntime JSRuntime;

<h1>Minter</h1>

<input @bind="proofFile" type="file" placeholder="Add Solution"/>
<button class="btn btn-primary" @onclick="SubmitProof">Submit Proof</button>
<input @bind="proofKey" type="text" placeholder="Add Key"/>
<button class="btn btn-primary" @onclick="Mint">Mint</button>

@code {
  protected override async Task OnInitializedAsync()  {
    await JSRuntime.InvokeVoidAsync("App.onload");
    @* await JSRuntime.InvokeAsync<dynamic>("getEthereum"); *@
    @* Web3s.Callback(ethProvider); *@
    @* await GetAccountBalance(); *@
  }
  private string proofFile;
  private string proofKey;
    private async void SubmitProof()
    {
      string[] path = proofFile.Split("\\", 10);
      ProofModel soln = await Http.GetFromJsonAsync<ProofModel>($"proofs/{path[2]}");
      await JSRuntime.InvokeVoidAsync("App.addSolution", soln);
    }

    private async void Mint() {
      proofKey = proofKey.Substring(0, 2) == "0x"? proofKey: ("0x"+proofKey);
      await JSRuntime.InvokeVoidAsync("App.setProofKey", proofKey);
      await JSRuntime.InvokeVoidAsync("App.mint");
    }
    public class ProofModel
    {
        public Proof proof { get; set; }

        public List<string> inputs  { get; set; }
    }
    public class Proof {
      public List<string> a { get; set; }
      public List<List<string>> b { get; set; }
      public List<string> c { get; set; }
    }
}
